/* 모달 오버레이 */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* 밑에서 위로 올라오기 위한 설정 */
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.modalOverlayActive {
    opacity: 1;
    visibility: visible;
}

/* 모달 컨텐츠 */
.modalContent {
    background-color: white;
    max-width: 430px;
    width: 100%;
    height: 60%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1001;
    transform: translateY(100%); /* 처음에는 화면 아래에 숨김 */
    transition: transform 0.2s ease-in-out;
}

.modalContentActive {
    transform: translateY(0); /* 모달이 활성화되면 올라옴 */
}

.closeModalButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF6B6B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 모달이 열렸을 때 배경 고정 */
body.modal-open {
    overflow: hidden;   /* 페이지가 움직이지 않도록 고정 */
}

.categoryButton {
    background-color: white;
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
    text-align: center;
  }
  
  .categoryButton:hover {
    background-color: #f0f0f0;
  }

  .categoryGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
    gap: 10px; /* 그리드 아이템 간격 */
  }